n8n-simple-webhook-scheduler.json
{
  "name": "Simple Webhook Social Media Scheduler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "schedule-post"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "platform",
              "value": "={{ $json.platform }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "post_id",
              "value": "={{ $json.post_id || 'webhook-' + $workflow.id + '-' + $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"debug\": true, \"received_data\": $json, \"processed_data\": $('Process Data').first().json } }}",
        "options": {}
      },
      "id": "debug-response",
      "name": "Debug Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Use the function we created earlier\nSELECT \n  platform,\n  access_token,\n  refresh_token,\n  platform_username,\n  platform_user_id,\n  token_expires_at,\n  is_active\nFROM public.get_user_oauth_credentials(\n  '{{ $('Process Data').first().json.user_id }}'::UUID,\n  '{{ $('Process Data').first().json.platform }}'\n);",
        "options": {}
      },
      "id": "get-oauth-token",
      "name": "Get OAuth Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-connection",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-token",
              "leftValue": "={{ $json.access_token }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-token-exists",
      "name": "Check Token Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-twitter",
              "leftValue": "={{ $('Process Data').first().json.platform }}",
              "rightValue": "twitter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-twitter",
      "name": "Route Twitter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-linkedin",
              "leftValue": "={{ $('Process Data').first().json.platform }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-linkedin",
      "name": "Route LinkedIn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-instagram",
              "leftValue": "={{ $('Process Data').first().json.platform }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-instagram",
      "name": "Route Instagram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-facebook",
              "leftValue": "={{ $('Process Data').first().json.platform }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-facebook",
      "name": "Route Facebook",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-reddit",
              "leftValue": "={{ $('Process Data').first().json.platform }}",
              "rightValue": "reddit",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-reddit",
      "name": "Route Reddit",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $('Process Data').first().json.content } }}",
        "options": {}
      },
      "id": "post-twitter",
      "name": "Post Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"author\": \"urn:li:person:\" + $('Get OAuth Token').first().json.platform_user_id,\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": $('Process Data').first().json.content\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n} }}",
        "options": {}
      },
      "id": "post-linkedin",
      "name": "Post LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "url": "https://graph.instagram.com/me/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $('Process Data').first().json.content }}"
            },
            {
              "name": "media_type",
              "value": "TEXT"
            }
          ]
        },
        "options": {}
      },
      "id": "post-instagram",
      "name": "Post Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/me/feed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Process Data').first().json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-facebook",
      "name": "Post Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "url": "https://oauth.reddit.com/api/submit",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $('Get OAuth Token').first().json.access_token }}"
            },
            {
              "name": "User-Agent",
              "value": "SocialMediaScheduler/1.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sr",
              "value": "test"
            },
            {
              "name": "kind",
              "value": "self"
            },
            {
              "name": "title",
              "value": "Scheduled Post"
            },
            {
              "name": "text",
              "value": "={{ $('Process Data').first().json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "post-reddit",
      "name": "Post Reddit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Post published successfully\", \"platform\": $('Process Data').first().json.platform, \"post_id\": $('Process Data').first().json.post_id } }}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"No OAuth token found for this platform\", \"user_id\": $('Process Data').first().json.user_id, \"platform\": $('Process Data').first().json.platform } }}",
        "options": {}
      },
      "id": "error-no-token",
      "name": "Error - No Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 800]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Get OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OAuth Token": {
      "main": [
        [
          {
            "node": "Check Token Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Exists": {
      "main": [
        [
          {
            "node": "Route Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Reddit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - No Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Twitter": {
      "main": [
        [
          {
            "node": "Post Twitter",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route LinkedIn": {
      "main": [
        [
          {
            "node": "Post LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route Instagram": {
      "main": [
        [
          {
            "node": "Post Instagram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route Facebook": {
      "main": [
        [
          {
            "node": "Post Facebook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route Reddit": {
      "main": [
        [
          {
            "node": "Post Reddit",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Post Twitter": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post LinkedIn": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Instagram": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Facebook": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Reddit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-13T07:00:00.000Z",
  "versionId": "simple-webhook-v1"
}
